* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: aliceblue;
}

.ball {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;

    margin: auto;
    font-weight: bold;
    font-size: 22px;

    display: flex;
    align-items: center;
    justify-content: center;
}